.container {
    margin-top: 50px;
}

body {

    font-family: Arial, sans-serif;
    font-size: 12pt;
}
.search-container,#tableContainer {
    margin-top: 20px; 
}


#tableContainer {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  

}



#profilePic 
{ 
    max-width: 100px;
     height: auto;
}
