.container {
    margin-top: 50px;
}

body {

    
    justify-content: center;
    align-items: center;
}
.search-container,#tableContainer {
    margin-top: 20px; 
}


#tableContainer {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#uploadForm {
    width: 100%;
    max-width: 400px;
    padding: 20px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePic 
{ 
    max-width: 100px;
     height: auto;
}
